node_modules/
.wwebjs_auth/
.wwebjs_cache/
keys.json
serviceAccount.json
admin.json
*.exe
*.session
*.log
llaves API gemini*
llaves*.txt
gas_script.js*
Codigo.gs
clonar-voz/modelo/*.gguf
clonar-voz/salidas/*
clonar-voz/.tmp/*
clonar-voz/voces/*
clonar-voz/__pycache__/
clonar-voz/config.json
